@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #42c3ff, #00aeff);
  color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}
